//colors
$black: #000;
$white: #fff;
$blue: #005FBA;
$blueLight: #0087DF;
$gray: #CED4DA;
$grayLight: #C4C4C4;
$grayThin: #F9F9F9;
$grayBold: #202224;
$green: #06B493;
$red: #CC1E14;

// Typography
$avenirNextBold: 'AvenirNextLTPro-Bold', sans-serif, helvetica;
$avenirNextRegular: 'AvenirNextLTPro-Regular', sans-serif, helvetica;

//images
$url-images: "/img";
