* {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    background: $grayThin;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
