.lukoll {
    &__sidebar {
        position: absolute;
        top: 78px;
        left: 0;
        z-index: 100;
        height: 100%;
        width: 60px;
        background: $white;
        box-shadow: 0px 4px 16px rgba($black, 0.04);
        text-align: center;
        transition: all .2s ease-in-out;
        @include minw(tb) {
            width: 75px;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 8px;
            background: $blueLight;
        }
        &__user {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0 40px 0;
            white-space: nowrap;
            overflow: hidden;
            h2 {
                color: $grayBold;
                text-transform: uppercase;
                font-family: $avenirNextBold;
                font-size: 18px;
                text-align: left;
                line-height: 23px;
                letter-spacing: 0.5px;
                display: none;
                margin: 0;
            }
            .name-circle {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: $white;
                font-size: 20px;
                font-family: $avenirNextBold;
                background: $blue;
                @include minw(tb) {
                    width: 50px;
                    height: 50px;
                    font-size: 24px;
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                display: block;
                position: relative;
                list-style: none;
                &.active,
                &:hover {
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: block;
                        width: 5px;
                        height: 100%;
                        background: $blueLight;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    white-space: nowrap;
                    overflow: hidden;
                    color: $grayBold;
                    font-family: $avenirNextBold;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 12px;
                    height: 50px;
                    &:hover {
                        text-decoration: none;
                    }
                    span {
                        display: none;
                    }
                }
            }
            li a.active {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 5px;
                    height: 100%;
                    background: $blueLight;
                }
                color: $white;
            }
        }
        &.active {
            width: 270px;
            .lukoll__sidebar__user {
                justify-content: space-between;
                padding: 0 15px;
                h2 {
                    display: block;
                }
            }
            ul {
                li {
                    padding: 0 15px;
                    a {
                        justify-content: flex-start;
                        padding: 0 10px 0 20px;
                        border-radius: 10px;
                        span {
                            display: block;
                            margin-left: 15px;
                        }
                    }
                    a.active {
                        background: $blueLight;
                        img {
                            filter: brightness(100);
                        }
                    }
                }
            }
        }
    }
}
